//- Header e barra de navegação
.header-section
  img(src="assets/img/header-bg.jpg")
  nav.main-menu
    ul.menu
      li.item Início
      li.item Institucional
      li.item Atividades da Casa
      li.item Horários
      li.item Fale Conosco
      li.item Busca
