doctype
html
  head
    include includes/head
  body
    include includes/header
    // Conteúdo principal
    main
      section
        header
          h1 Eventos/Palestras
      section
          header
            h1 Notícias
          div
            ul
              li
                article
                  img(src="")
                  h1 titulo
                  p descrição

    //conteúdo complementar - links úteis e vídeos
    section
      h1 banners
    section
      h1 videos
    //Infos da casa e galeria de fotos
    section
      h1 Mais da casa espírita
      h2 Grupo Musical
      h2 Livraria
      h2 Biblioteca
    section
      header
        h1 Galeria de fotos
    footer
      h1 footer
