include mixins/card-list
include mixins/card

doctype
html
  head
    include includes/head
  body.text-color
    include includes/header
    main
      .grid-container
        .grid-row
          .grid-col-6.card-bg
            section
              header
                h1 Eventos/Palestras
          .grid-col-3.card-bg
            section
              +card-list('Notícias', [highlights.news[0]])
          .grid-col-3.card-bg
            section
              +card-list('Notícias', [highlights.news[1]])
    div
      .grid-container
        .grid-row
          .grid-col-6.card-bg
            section
              h1 videos
          .grid-col-3.card-bg
            section
              h1 banner
          .grid-col-3.card-bg
            section
              h1 banner

    footer
      h1 footer
