include mixins/card-list
include mixins/card
doctype
html
  head
    include includes/head
  body.page-home
    include includes/header
    main
      .grid-container.clearfix
        .grid-row.clearfix
          .grid-col.grid-col-6.bg-orange
            section
              header
                h1 Eventos/Palestras
          .grid-col.grid-col-3.bg-orange
            section
              +card-list('Notícias', [highlights.news[0]])
          .grid-col.grid-col-3.bg-orange
            section
              +card-list('Notícias', [highlights.news[1]])
    div
      .grid-container.clearfix
        .grid-row.clearfix
          .grid-col.grid-col-6.bg-orange
            section
              h1 videos
          .grid-col.grid-col-3.bg-orange
            section
              h1 banner
          .grid-col.grid-col-3.bg-orange
            section
              h1 banner

    footer
      h1 footer
